*{
    margin: 0;
    padding: 0;
}
.main{
    width:100%;
    background-image:url(selectrule.jpg);
    background-repeat: no-repeat;
    height: 109vh;
    background-size: cover;
    background-position: center;
}
.form{
    padding-top: 150px;
    padding-left: 600px;
    justify-content: center;
    align-items: center;
    width: 400px;  
}
.form h1{
   color:green;
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: rgb(18, 20, 17);
    
}
.form button{
    border: 1px solid white;
    padding: 10px;
    width: 250px;
    margin-bottom: 50px;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    background-color:#076888;
    border: 1px solid #025875;
    color: white;
    border-radius: 10px;
    box-shadow: 10px; 
}
.form button:hover{
    border: 1px solid white;
    padding: 10px;
    width: 250px;
    margin-bottom: 50px;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    background-color:black;
    border-radius: 10px;
    color: white;

}
.form button a{
    text-decoration: none;
    color: white;
}
.form button a:hover{
    color: white;
}
.addevent{
    border: 1px solid white;
    padding: 10px;
    width: 250px;
    margin-bottom: 50px;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    background-color:yellow;
    border: 1px solid red;
    color: white;

}
.menu_middle1 {
    width: 1058px;
    height: 109vh;
    background-color:red; 
    position: relative;
    /* margin-top: 62px;  */
    margin-left: 290px;
    bottom: 717px;
}
.paymentForm h3{

   color: white;


}
.paymentForm a {
    text-decoration: none;
    color: white;


}

.paymentForm button {
    background-color: black;
    border: 1px solid black;
    padding: 15px 40px 15px 40px;
    align-items: center;
    margin: 30px;


}